<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IsbmSubscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <IsbmSubscriber.Properties.Settings>
      <setting name="DefaultChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultTopic" serializeAs="String">
        <value />
      </setting>
      <setting name="PollInterval" serializeAs="String">
        <value>10000</value>
      </setting>
    </IsbmSubscriber.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ConsumerPublicationService" binding="basicHttpBinding" contract="IConsumerPublicationService"/>
    </client>
  </system.serviceModel>
</configuration>
